:root {
    box-sizing: border-box;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: bold;
}

/* Body */
body {
    height: 100vh;
    
    background-color: #16161a;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");

    display: flex;
    justify-content: center;
    align-content: center;
}

/* Calculadora */

.grid-container {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-gap: 4px 4px;

    margin-top: 8vh;
    min-height: 80vh;

    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);

    background-color: #474747;
    background-image: url("https://www.transparenttextures.com/patterns/black-orchid.png");
    
    border: 2px solid #1a1a1a;
    box-shadow: 5px 10px 10px 1px #363e47;
    padding: 2vh;
    border-radius: 20px;
}

.grid-container > button {
    cursor: pointer;

    font-size: 1.5rem;
    
    background-color: #232323;
    color: #fcfcfc;

    border-radius: 20px;
}

.grid-container > button:hover {
    font-size: 1.8rem;

    background-color: #9a9898;
    color: #4a4a4a;
}

.grid-container > .clear {
    background-color: #999696;
}

.grid-container > .delete {
    background-color: #652c2c;
}

.grid-container > .operator {
    background-color: #ba6f13;
}

.span-two {
    grid-column: span 2;
}

.grid-container > .output {
    grid-column: 1 / -1;

    background-color: #c2c2c2;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;

    
    padding-right: 15px;
    margin-bottom: 1vh;

    word-wrap: break-word;
    word-break: break-all;
}

.grid-container > .output > .previous-operand {
    color: #828286;
    font-size: 1.5rem;
}

.grid-container > .output > .current-operand {
    color: #16161a;
    font-size: 1.5rem;
}

